# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Environment
venv/
.env

# Database
*.sqlite3
*.db

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
instance/
*.bak
*.swp
